<div class="container">
  <h1>The Shetlands available below </h1>
  <h2 class="text-center"> Which one will be your shet for a day? </h2>
  <div class="row">
    <% @shetlands.each do |shetland| %>
      <!-- <div class="cards"> -->
        <div class="col-xs-12 col-sm-4">
        <%= render "shets/card", shetland: shetland, description_should_appear: false %>
        </div>
      <!-- </div> -->
    <% end %>
  </div>
</div>

