.card-form-new-shet {
  background-color: pink;
  margin-bottom: 3em;
  box-shadow: 1px 1px 2px #bcb0af;
  border-radius: 6px;
  padding: 10px;
}

.btn-submit {
  background-color: white;
  text-decoration: none;
  color: grey;
}

.btn-submit:hover {
  background-color: grey;
  text-decoration: none;
  color: white;

}
