.order-status {
  background-color: #f4f2f2;
  box-shadow: 1px 1px 2px #bcb0af;
  border:1px dotted #e54d42;
  border-radius:5px;
  padding: 5px
}
.card-reservation {
  border-radius:5px;
  margin-bottom: 3em;
  border-radius: 6px;
  background-color: #f4f2f2;
  padding: 10px;
}

.card-reservation-shetland {
  background-color: white;
  border-radius:5px;
  margin-bottom: 3em;
  box-shadow: 1px 1px 2px #bcb0af;
  border-radius: 6px;
  background-color: #f4f2f2;
  padding: 10px;
}
