.card-shets-show {
  background-color: pink;
  margin-bottom: 3em;
  box-shadow: 1px 1px 2px #bcb0af;
  border-radius: 6px;
  padding: 10px;
}

.card-description-shetland {
 font-size: 16px;
 padding: 13px;
 border: 1.5px dotted white;
 margin: 5px;
}

.card-description-owner p {
  font-weight: bolder;
}

.btn-submit {
  background-color: white;

}
