// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

h1 {
  font-family: "Shadows Into Light Two";
  text-align: center;
  font-size: 40px;
}
