.container {
  margin: 0 auto;
  max-width: 900px;
}

.card-header {
  height: 275px;
  background-size: cover !important;
  background-position: center;
  color: white;
}


.card-user {
  width: 50px;
  border-radius: 50%;
}

.row-text {
  padding: 10px;
}
