// .container {
//   margin: 0 auto;
//   max-width: 900px;
// }

.card {
  // background-color: black;
  // height: 600px;
  margin-bottom: 3em;
}

.card-header {
  height: 275px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 2px 2px 3px #6d6969;
}

.card-description {
  padding: 1em;
}

.card-description-owner {
  margin-bottom: 1em;
}

.basic-info {
  position: absolute;
  bottom: 10px
}

#location {
  color: #e74c3c;
  border: 1px solid red;
  padding: 3px

}
.price {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12.5px 0;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
}

.card-user {
  // display: block;
  width: 50px;
  border-radius: 50%;
}

.row-text {
  padding: 10px;
}


.card-see-more {
  text-align: center;
}




